body {
    margin: 10px !important;
    background-color: rgb(62, 194, 243);
}
header {
    background-image: linear-gradient(to right, #4694b8 , #2e2059);
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-size: 35px;
    text-align: center;
}

input {
    border-radius: 10px;
    padding:10px;
    width:100%;
}

button {
    width: 100%;}

.row {
    margin: 0;
}

.forecast {
    background-image: linear-gradient(to right, #4694b8 , #2e2059);
    color:white;
}

.btn-secondary {
    color:black;
    background-image: linear-gradient(to right, #fff42c , rgb(249, 122, 4));
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}


[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
    display: none !important;
}